@{
    ViewData["Title"] = "Chamado Ban Ativo";
}

<div class="status_geral" style="top: 40%;">
    <h4 class="status_titulo" style="text-align: left; margin: 0;">Abra o seu chamado de WhatsApp canal Ativo</h4>
    <a class="status" href="" style="background-color: blue;">Ativo</a>
    <a class="status" href="" style="background-color: yellow;">Suporte</a>
    <a class="status" href="" style="background-color: orange;">Banido</a>
    <a class="status" href="" style="background-color: red;">Banido/Suporte</a>
</div>

<br>
<div class="d-flex" style="gap: 83px; text-align: center;">
    <div>
        <div id="quadradoSupervisor"><span style="text-align: center; width: 100%;">UZE</span></div>
        <table>
            <tbody>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="UZE01">UZE 01</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="UZE02">UZE 02</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="UZE03">UZE 03</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="UZE04">UZE 04</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="UZE05">UZE 05</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="UZE06">UZE 06</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="UZE07">UZE 07</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="UZE08">UZE 08</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="UZE09">UZE 09</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="UZE10">UZE 10</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="UZE11">UZE 11</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="UZE12">UZE 12</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="UZE13">UZE 13</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="UZE14">UZE 14</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <button id="btn" data-id="UZE">APLICAR CHAMADO</button>
    </div>
    <div>
        <div id="quadradoSupervisor"><span style="text-align: center; width: 100%;">Trigg</span></div>
        <table>
            <tbody>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="TRIGG01">#</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="TRIGG02">TRIGG 01</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="TRIGG03">#</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="TRIGG04">TRIGG 02</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="TRIGG05">#</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="TRIGG06">TRIGG 03</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="TRIGG07">#</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="TRIGG08">TRIGG 04</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="TRIGG09">REFI</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="TRIGG10">TRIGG 05</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="TRIGG11">REFI</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="TRIGG12">TRIGG 06</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="TRIGG13">REFI</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="TRIGG14">TRIGG 07</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="TRIGG15">#</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="TRIGG16">TRIGG 08</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <button id="btn" data-id="TRIGG">APLICAR CHAMADO</button>
    </div>
    <div>
        <div id="quadradoSupervisor"><span style="text-align: center; width: 100%;">Jequiti</span></div>
        <table>
            <tbody>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="JQT01">TRIGG 09</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="JQT02">JQT 01</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="JQT03">TRIGG 10</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="JQT04">JQT 02</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="JQT05">TRIGG 11</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="JQT06">JQT 03</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="JQT07">#</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="JQT08">JQT 04</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="JQT09">TRIGG 12</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="JQT10">JQT 05</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="JQT11">TRIGG 13</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="JQT12">JQT 06</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="JQT13">TRIGG 14</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="JQT14">JQT 07</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="JQT15">#</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="JQT16">JQT 08</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <button id="btn" data-id="JQT">APLICAR CHAMADO</button>
    </div>
    <div>
        <div id="quadradoSupervisor"><span style="text-align: center; width: 100%;">CDC</span></div>
        <table>
            <tbody>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="CDC01">JQT 09</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="CDC02">CDC 01</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="CDC03">JQT 10</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="CDC04">CDC 02</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="CDC05">JQT 11</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="CDC06">CDC 03</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="CDC07">JQT 12</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="CDC08">CDC 04</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="CDC09">JQT 13</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="CDC10">CDC 05</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="CDC11">JQT 14</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="CDC12">CDC 06</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="CDC13">#</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="CDC14">#</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="CDC15">#</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="CDC16">#</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <button id="btn" data-id="CDC">APLICAR CHAMADO</button>
    </div>
    <div>
        <div id="quadradoSupervisor"><span style="text-align: center; width: 100%;">Receptivo</span></div>
        <table>
            <tbody>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="CDC17">CDC 07</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="RECEP01">RECEP 01</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="CDC18">CDC 08</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="RECEP02">RECEP 02</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="CDC19">CDC 09</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="RECEP03">RECEP 03</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="CDC20">CDC 10</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="RECEP04">RECEP 04</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="CDC21">CDC 11</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="RECEP05">RECEP 05</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="CDC22">CDC 12</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="RECEP06">RECEP 06</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="CDC23">#</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="RECEP07">RECEP 07</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="CDC24">#</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="RECEP08">RECEP 08</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <button id="btn" data-id="RECEP">APLICAR CHAMADO</button>
    </div>
    <div>
        <div id="quadradoSupervisor"><span style="text-align: center; width: 100%;">DeskTop - Blu</span></div>
        <table>
            <tbody>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="DESKTOP01">DESKTOP 01</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="BLU01">BLU 01</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="DESKTOP02">DESKTOP 02</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="BLU02">BLU 02</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="DESKTOP03">DESKTOP 03</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="BLU03">BLU 03</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="DESKTOP04">DESKTOP 04</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="BLU04">BLU 04</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="RECEP10">RECEP 10</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="BLU05">BLU 05</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="RECEP09">RECEP 09</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="BLU06">#</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="quadradoAzul" data-id="RECEP11">#</div>
                    </td>
                    <td>
                        <div id="quadradoAzul" data-id="BLU07">#</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <button id="btn" data-id="DESK">APLICAR CHAMADO</button>
    </div>
</div>